
$textFontFamily: 'Poppins', sans-serif;

$colorForForm:  #060606;
$colorForBorderInForm:  #1f1f20;
$colorForRunningLine:  #b6b6b6;
$bgPrimary: #1f1f20;
$bgSecondary: #252527;


$titleColor: #bebebe;
$textColorH1: #ffffff;
$textColorH2: #bebebe;
$textColorH3: #252527;
$textColorH4: #e3e3e3;

$backgroundColor:#f5f5f5;

$textColorP:#6a6a6a;
$textColorFooter:#929292;
$textColorPAndBtn: #ffffff;
$textColorH3ForBurgerMenu: #555555;
$textColorH5:#dedede;

$colorMenu: #555555;
$backgroundColorMenu: #f5f5f5;
$colorMenuHeader: #555555;
$backgroundColorBtn: #cbcbcb;
$bgColorBtnSendMessage: #ffffff;

